.canvas {
    display: flex;
    background-color: #ebebeb;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #f9ffff;
    border: 2px solid #646464;
    margin: auto;
    border-radius: 12px;
    gap: 36px;
    padding: 24px 0;
}

.header {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 12px;
}

img {
    width: 50px;
    height: 35px;
    align-self: center;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 16px;
}

.textField {
    width: 350px;
}

.footer {
    display: flex;
    align-self: center;
}